<h1>Bienvenido al restaurante</h1>
<app-nombre></app-nombre>
<h3>A continuación seleccione la comida que le gusta</h3>
<app-check></app-check>
<h3>Por favor ingrese su número de teléfono</h3>
<app-edad></app-edad>
<h3>A continuacion escriba el código enviado a su teléfono</h3>
<app-codigo></app-codigo>
<h3>Abajo se muestra el menú del restaurante</h3>
<app-menu></app-menu>
<h3>Ingrese la cantidad que desea ordenar en total para confirmar disponibilidad</h3>
<app-cantidad></app-cantidad>
<h3>¿Ha comido en nuestro restaurante anteriormente?</h3>
<app-opcion></app-opcion>
<h3>En caso de que si, como calificaría nuestro servicio</h3>
<app-calificar></app-calificar>
<h3>Puede dejarnos una sugerencia para mejorar nuestro sitio web (opcional)</h3>
<app-sugerencia></app-sugerencia>
<app-enviar></app-enviar>
<router-outlet />
